* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Local Fonts: BUGGED 
    Note:
    Local font files will affect the way websites are displayed on your machine.
    To ensure you always have the most up-to-date version of your fonts,
    we recommend using a fonts manager like SkyFonts.
*/

@font-face {
  font-family: "Ruhl";
  src: url("/starter-files/fonts/FrankRuhlLibre-Medium.ttf");
  font-family: "Ruhl Medium";
  src: url("/starter-files/fonts/FrankRuhlLibre-Medium.ttf");
  font-family: "Vibes";
  src: url("/starter-files/fonts/GreatVibes-Regular.ttf");
}

html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --dry-maroon: #906272;
  --background-color: #414141;
  --gray: #525252;
}
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
a,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

a {
  text-decoration: none;
  color: black;
}
ul {
  list-style: none;
}
.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
body {
  animation: fadeIn 1.2s ease-in-out;
  font-family: "Frank Ruhl Libre", serif;
}
h1 {
  font-family: "Vibes", sans-serif;
}

/* Nav with Hero */

.main-head {
  box-shadow: 1px 10px 10px rgba(0, 0, 0, 0.1);
  position: relative;
}
nav {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  min-height: 10vh;
  padding: 2rem 0rem;
  z-index: 5;
}
#logo {
  flex: 1 1 20rem;
}
.nav-links {
  display: flex;
  justify-content: space-around;
  flex: 1 1 20rem;
}
.hero {
  min-height: 90vh;
  display: flex;
  width: 100%;
  margin: 0 0 0 auto;
  flex-wrap: wrap;
  overflow: hidden;
}
.hero-intro {
  flex: 2 1 40rem;
  text-align: center;
}
.hero-intro p {
  padding: 5rem 10rem;
  color: var(--gray);
}
.hero-intro h2 {
  padding: 1rem;
}
.hero-intro a {
  padding: 1rem 1rem;
  border-bottom: 3px solid black;
}

.hero-image {
  flex: 1 1 40rem;
  background: linear-gradient(#9062721f, #b37a8e62);
  position: relative;
  z-index: 1;
}

.hero-elena {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.plant {
  position: absolute;
  bottom: -3%;
  left: -20%;
  z-index: -1;
  width: 65%;
  height: 65%;
  transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);

  transform-origin: bottom;
}
.plant1 {
  animation: plantIntroAnimation 1s ease-in-out forwards,
    plantWave 3.8s infinite alternate-reverse ease-in-out 2s;
}
.plant2 {
  animation: plantIntroAnimation 1s ease-in-out forwards,
    plantWave 3s infinite alternate-reverse ease-in-out 2s;
  left: 50%;
}

/* ANIMATIONS */

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes plantIntroAnimation {
  from {
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
  }
  to {
    transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
  }
}
@keyframes plantWave {
  from {
    transform: rotateZ(-10deg);
  }
  to {
    transform: rotateZ(0);
  }
}
.burger,
.menu-check {
  display: none;
}

/* Media Query */

@media screen and (max-width: 842px) {
  .hero {
    width: 100%;
  }
  .hero-intro a {
    margin: 0 0 3rem 0;
  }
  /* Burger Menu */
  .burger {
    position: relative;
    display: block;
    z-index: 100;
  }
  .burger span {
    padding: 0.1rem 2rem;
    background: var(--gray);
    margin: 0.5rem 0rem;
    display: block;
    transition: all 0.5s ease;
  }
  .nav-links a {
    color: white;
    text-decoration-line: underline;
    font-size: var(--header3);
  }
  .nav-links {
    background: var(--background-color);
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 100%;
    flex-direction: column;
    align-items: center;
    z-index: 2;
    transition: transform 0.4s ease;
  }
  .menu-check {
    display: block;
    position: absolute;
    top: 25%;
    right: 4%;
    width: 5rem;
    height: 5rem;
    cursor: pointer;
    opacity: 0;
    z-index: 100;
  }
  .menu-check:checked + .nav-links {
    transform: translateX(-100%);
  }
  .menu-check:checked ~ .burger span {
    background: whitesmoke;
  }
  .menu-check:checked ~ .burger span:nth-child(1) {
    transform: rotateZ(-45deg) translateY(500%) translateX(-37%);
  }
  .menu-check:checked ~ .burger span:nth-child(2) {
    transform: rotateZ(45deg) translateY(500%) translateX(13%);
  }
  .menu-check:checked ~ .burger span:nth-child(3) {
    display: none;
  }
}

/* About Me */
#about {
  min-height: 100vh;
  display: flex;
  flex-wrap: wrap;
}

.about-text {
  flex: 2 1 40rem;
  background: var(--gray);
  color: rgba(245, 245, 245, 0.7);
  justify-content: space-evenly;
}
.about-text div {
  padding: 1rem 4.5rem;
}
.about-image {
  flex: 1 1 40rem;
  position: relative;
}
.about-image h5 {
  position: absolute;
  letter-spacing: 2rem;
  top: 15%;
  left: 50%;
  transform: translate(-50%, -20%);
}
.about-text h2 {
  color: white;
  padding: 3rem 0 1.5rem 0;
  font-family: "Vibes";
}
.about-text h3 {
  padding: 3rem 0rem;
  color: white;
}
.about-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.about-text p {
  padding: 1.5rem 0rem;
}
.about-contact button {
  background: var(--gray);
  color: whitesmoke;
  border: 3px solid rgba(245, 245, 245, 0.144);
  border-radius: 1.5rem;
  padding: 0.8rem 1.5rem 1rem 1.5rem;
  margin: 2rem;
}
.about-contact {
  min-width: 100%;
  text-align: right;
}
.about-contact a {
  color: white;
}
