* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html {
  font-size: 62.5%;
  --header1: calc(2rem + 1vw);
  --header2: calc(3.5rem + 1vw);
  --header3: calc(3rem + 1vw);
  --header4: calc(2.4rem + 1vw);
  --text: calc(1.5rem + 1vw);
  --big: calc(2.4rem + 1vw);
  --dry-maroon: #906272;
  --background-color: #414141;
  --gray: #525252;
}
h1 {
  font-size: var(--header1);
}
li,
button,
label,
input,
p {
  font-size: var(--text);
}
h2 {
  font-size: var(--header2);
}
h3 {
  font-size: var(--header3);
}
h4,
h5 {
  font-size: var(--header4);
}

.flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
@font-face {
  font-family: "Ruhl";
  src: url("/starter-files/fonts/FrankRuhlLibre-Regular.ttf");
  font-family: "Ruhl Medium";
  src: url("/starter-files/fonts/FrankRuhlLibre-Medium.ttf");
  font-family: "Vibes";
  src: url("/starter-files/fonts/GreatVibes-Regular.ttf");
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
}

/* Nav with Hero */
/*
.main-head {
  background: rgba(0, 0, 0, 0.089);
}
nav {
  min-height: 10vh;
  display: flex;
  width: 90%;
  margin: auto;
  align-items: center;
}
nav ul {
  display: flex;
  flex: 1 1 40rem;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
#logo {
  display: flex;
  flex: 1 1 40rem;
}
.hero {
  display: flex;
  width: 100%;
}
.hero-intro {
  display: flex;
  flex: 1 1 40rem;
  flex-direction: column;
  text-align: center;
  padding: 8rem;
}
.hero-image {
}
.hero h1,
.hero h2,
.hero p,
.hero button {
  padding: 1rem;
}
*/
